body {
    background: linear-gradient(135deg, #BFDAF7, #9370DB);
}


.modify_title {
    width: 100%;
    text-align: center;
}
  
.modify_title h1 {
    font-size: 80px;
    font-weight: bold;
    color: #6a1b9a;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top:30px;
}
  
.modify_title hr {
    width: 100%;
    border: 2px solid #6a1b9a;
    margin: 0 auto;
}

.modify_title .nav {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: bold;
}
  
.modify_title .nav a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.modify_title .nav a:hover {
    color:#4B9CD3
}

.table_wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 140px; 
    min-height: 100vh; 
}


.modify_container {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px 50px;
    width: 700px;
}

.modify_table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

.modify_table th,
.modify_table td {
    padding: 16px 20px;
    border: 1px solid #ddd;
    text-align: left;
}

.modify_table th {
    background: #efe6ff;
    font-weight: bold;
    color: #333;
    width: 30%;
}

.modify_table td {
    background: #fff;
    color: #111;
}

.modify_table td input {
    background-color: #f8f1ff;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 6px;
    outline: none;
    width:70%;
    color: #333;
}

.btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
  
.btn button {
    width: 300px;
    padding: 12px;
    background: linear-gradient(135deg, #4B9CD3, #9370DB);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}
  
.btn button:hover {
    filter: brightness(1.1);
}

#check_id {
    padding: 10px 14px;
    margin-left: 10px;
    background: linear-gradient(45deg, #4B9CD3, #9370DB);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s;
  }
  #check_id:hover {
    filter: brightness(1.1);
  }